<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      app
    >
    <nav-list></nav-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Onload</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import NavList from '../components/NavList.vue';
export default {
  name: 'DefaultLayout',
  data() {
    return {
      drawer: false,
    }
  },
  components:{
    NavList
  }
}
</script>
