<template>
  <v-row justify="center" align="center">
    <v-toolbar-title>{{title}}</v-toolbar-title>
    <v-col cols="12" sm="12" md="12">
      <h3 class="text-center mt-5">Home</h3>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'IndexPage',
  head:()=>({
    title:"Home"
  }),
  data: () => ({}),
}
</script>
