<template>
  <v-row align="center">
    <v-col cols="12" md="12" lg="12">
       <h3 class="text-center mt-5">Sobre</h3>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name:"SobrePage",
  head:()=>({
    title:"Sobre"
  }),
  data:()=>({

  }),
}
</script>

<style>

</style>
